.Fondo
{
 background-image: url("https://img.myloview.com.br/posters/sushi-em-placas-de-ceramica-sobre-fundo-branco-700-153478643.jpg");
height: 50vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;



}